# Đồ án cuối kỳ môn Lập trình cho KHDL - CSC17104_21KHDL1

---
## 1. Thông tin nhóm: Nhóm 12

- Thành viên:
    - Nguyễn Trọng Đại - 21127587
    - Nguyễn Tấn Khiêm - 21127726

---
## 2. Import thư viện cần thiết

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

---
## 3. Thu thập dữ liệu

- Mô tả dữ liệu: ...
- Tác giả: ...
- License: ...
- Cách tác giả thu thập dữ liệu: ...

---
## 4. Khám phá dữ liệu + Tiền xử lý

### 4.0. Đọc dữ liệu

In [4]:
# TODO: Đọc data từ file csv và lưu vào df. Hiển thị 5 dòng ngẫu nhiên
df = pd.read_csv("./data/Sleep_health_and_lifestyle_dataset.csv")
df.sample(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
43,44,Male,31,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
50,51,Male,32,Engineer,7.5,8,45,3,Normal,120/80,70,8000,NaN
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
18,19,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Insomnia
288,289,Female,50,Nurse,6.0,6,90,8,Overweight,140/95,75,10000,Sleep Apnea

### 4.1. Số dòng, số cột

In [5]:
# TODO: Lưu số dòng vào số cột vào n_rows, n_cols
n_rows, n_cols = df.shape

n_rows, n_cols

(374, 13)

### 4.2. Khám phá dòng

- **TODO**: Nhận xét dòng

In [ ]:
# TODO: Kiểm tra duplicate, lưu vào 'is_duplicated'

print("Dữ liệu có duplicate? :", is_duplicated)

In [ ]:
# TODO: Nếu có duplicate thì loại bỏ nó

### 4.3. Khám phá cột

- **TODO**: Nhận xét cột

In [ ]:
# TODO: Liệt kê tên các cột và kiểu dữ liệu tương ứng

### 4.4. Loại bỏ các dòng và cột vô nghĩa

- **TODO**: Nhận xét các dòng nào là vô nghĩa? Tại sao?

In [ ]:
# TODO: Loại bỏ các dòng vô nghĩa

- **TODO**: Nhận xét các cột nào là vô nghĩa? Tại sao?

In [ ]:
# TODO: Loại bỏ các cột vô nghĩa

### 4.5. Xử lý data thiếu và chuyển đổi kiểu dữ liệu

- Bảng tóm tắt của Dataframe:

In [ ]:
# TODO: Hiển thị bảng tóm tắt của Dataframe

- **TODO**: Nhận xét bảng tóm tắt
- **TODO**: Đối với những dòng bị thiếu, xử lý thế nào?

In [ ]:
# TODO: Xử lý các dòng bị thiếu

- **TODO**: Từ bảng tóm tắt, nhận xét dữ liệu các cột có đúng hay chưa.

In [ ]:
# TODO: Chuyển đổi kiểu dữ liệu cho đúng

### 4.6. Phân bố dữ liệu

#### 4.6.1. Dữ liệu Numeric

- Bảng giá trị lượng tử Numeric:

In [ ]:
# TODO: Tính giá trị lượng tử (min, 25%, 50%, 75%, max) của từng cột Numeric, lưu vào 'numeric_col_profile'
# 'numeric_col_profile' là 1 dataframe có col là các cột của df, index là 5 giá trị lượng tử

numeric_col_profile

- Biểu đồ phân bố dữ liệu Numeric:

In [ ]:
# TODO: In ra biểu đồ cột phân bố dữ liệu Numeric dựa vào 'numeric_col_profile'

- **TODO**: Nhận xét về sự phân bố dữ liệu của các cột Numeric

#### 4.6.2. Dữ liệu Categorical

- Bảng phân bố dữ liệu Categorical:

In [ ]:
# TODO: Tính các giá trị unique của mỗi cột, và 1 dictionary ứng với mỗi cột có key là giá trị unique, value là số lượng của nó trong cột
# Lưu vào 'single_cate_profile' là 1 dataframe có index là số lượng unique của cột và dictionary tương ứng
# có col là các cột của df

single_cate_profile

- Biểu đồ phân bố dữ liệu Categorical:

In [ ]:
# TODO: In ra biểu đồ hình tròn (pie chart) phân bố dữ liệu Categorical dựa vào 'single_cate_profile'
# Ghi rõ chú thích cho từng biểu đồ

- **TODO**: Nhận xét về sự phân bố dữ liệu của các cột Categorical

---
## 5. Đặt câu hỏi có ý nghĩa

### 5.1. Câu hỏi 1: ...

- Thành viên phụ trách: ...
- Mục đích: ...

#### 5.1.1. Tiền xử lý

- Các bước tiền xử lý:
    - ...

In [ ]:
# TODO: Code tiền xử lý câu hỏi 1

#### 5.1.2. Phân tích dữ liệu trả lời câu hỏi

- Các bước phân tích dữ liệu:
    - ...

In [ ]:
# TODO: Code phân tích dữ liệu để trả lời câu hỏi 1

### 5.2. Câu hỏi 2: ...

- Thành viên phụ trách: ...
- Mục đích: ...

#### 5.2.1. Tiền xử lý

- Các bước tiền xử lý:
    - ...

In [ ]:
# TODO: Code tiền xử lý câu hỏi 2

#### 5.2.2. Phân tích dữ liệu trả lời câu hỏi

- Các bước phân tích dữ liệu:
    - ...

In [ ]:
# TODO: Code phân tích dữ liệu để trả lời câu hỏi 2

### 5.3. Câu hỏi 3: ...

- Thành viên phụ trách: ...
- Mục đích: ...

#### 5.3.1. Tiền xử lý

- Các bước tiền xử lý:
    - ...

In [ ]:
# TODO: Code tiền xử lý câu hỏi 3

#### 5.3.2. Phân tích dữ liệu trả lời câu hỏi

- Các bước phân tích dữ liệu:
    - ...

In [ ]:
# TODO: Code phân tích dữ liệu để trả lời câu hỏi 3

### 5.4. Câu hỏi 4: ...

- Thành viên phụ trách: ...
- Mục đích: ...

#### 5.4.1. Tiền xử lý

- Các bước tiền xử lý:
    - ...

In [ ]:
# TODO: Code tiền xử lý câu hỏi 4

#### 5.4.2. Phân tích dữ liệu trả lời câu hỏi

- Các bước phân tích dữ liệu:
    - ...

In [ ]:
# TODO: Code phân tích dữ liệu để trả lời câu hỏi 4

---
## 6. Phản ánh bản thân sau khi hoàn thành đồ án

### 6.1. Những khó khăn gặp phải?

- Nguyễn Trọng Đại:
    - ...
- Nguyễn Tấn Khiêm:
    - ...
    
### 6.2. Kinh nghiệm, bài học đạt được khi làm đồ án?

- Nguyễn Trọng Đại:
    - ...
- Nguyễn Tấn Khiêm:
    - ...
    
### 6.3. Nếu có thêm thời gian, nhóm sẽ làm:

- ...

---
## 7. Tài liệu sử dụng

- ...